:root {
    --font-text-size-nav: 1rem;
    --links-hover: #6E07F3;
    --font-weight-links: 500;
    --links-color: #2c2e3b;
    --font-strong: 1.2rem;
    --dark-mode: #2c2e3b;
    --background-purple: #6E07F3;
    --button-hover: #9524FC ;
    --secondary-color: #6c757d;
    --background-color: #fff;
    --background-color-dark: #02111B;
    --back-line-header: #424C55;
    --background-image-main: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'%3e%3cdefs%3e%3cstyle%3e.cls-1%7bfill:%23fadf00;%7d.cls-2%7bfill:none;%7d.cls-3%7bfill:%23ffc332;opacity:0.91;%7d.cls-4%7bfill:%23fff;%7d%3c/style%3e%3c/defs%3e%3cg id='_1.sun' data-name='1.sun'%3e%3cpath class='cls-1' d='M32,17.71c-18.88.59-18.88,28,0,28.58C50.88,45.7,50.88,18.3,32,17.71Z'/%3e%3cpath class='cls-2' d='M23.71,37c-.23-10.13,11-17.34,20.09-13C36.1,12.49,17.68,18,17.71,32a14.29,14.29,0,0,0,8.49,13A14.21,14.21,0,0,1,23.71,37Z'/%3e%3cpath class='cls-3' d='M23.71,37a14.21,14.21,0,0,0,2.49,8C39.14,51,51.89,35.57,43.8,24,34.7,19.66,23.48,26.87,23.71,37Z'/%3e%3cpath d='M32,19.71c16.24.52,16.23,24.06,0,24.58-16.24-.52-16.23-24.06,0-24.58m0-2c-18.88.59-18.88,28,0,28.58,18.88-.59,18.88-28,0-28.58Z'/%3e%3cpath class='cls-4' d='M25,27.34a1,1,0,0,1-.78-1.63c.91-.93,3.34-3.82,4.54-2.17a1,1,0,0,1-.43,1.35C27,25.34,26.25,27,25,27.34Z'/%3e%3cpath class='cls-4' d='M23.06,32c-1.64,0-1.14-3.32.38-3C24.73,29.22,24.27,32.08,23.06,32Z'/%3e%3cpath d='M32,16.19a1,1,0,0,1-1-1v-5a1,1,0,1,1,2,0v5A1,1,0,0,1,32,16.19Z'/%3e%3cpath d='M43.88,21.12a1,1,0,0,1-.7-1.71l3.56-3.57a1,1,0,1,1,1.42,1.42C47.71,17.55,44.49,21.34,43.88,21.12Z'/%3e%3cpath d='M53.85,33h-5a1,1,0,0,1,0-2h5A1,1,0,0,1,53.85,33Z'/%3e%3cpath d='M47.45,48.45a1,1,0,0,1-.71-.29l-3.56-3.57c-.93-.9.51-2.35,1.41-1.41l3.57,3.56A1,1,0,0,1,47.45,48.45Z'/%3e%3cpath d='M32,54.85a1,1,0,0,1-1-1v-5a1,1,0,0,1,2,0v5A1,1,0,0,1,32,54.85Z'/%3e%3cpath d='M16.55,48.45a1,1,0,0,1-.71-1.71l3.57-3.56a1,1,0,0,1,1.41,1.41C20.37,44.88,17.15,48.67,16.55,48.45Z'/%3e%3cpath d='M15.19,33h-5a1,1,0,0,1,0-2h5A1,1,0,0,1,15.19,33Z'/%3e%3cpath d='M20.12,21.12a1,1,0,0,1-.71-.3l-3.57-3.56c-.93-.9.51-2.35,1.42-1.42l3.56,3.57A1,1,0,0,1,20.12,21.12Z'/%3e%3c/g%3e%3c/svg%3e");
    --text-color: #333;
    --large-font-size: 2.3rem;
    --font-famaly-forH2: Flicker, sans-serif;
    --font-size-normal-text: 1.170rem;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    --back-line-header: #333333;
}

.btn-primary {
    background: var(--background-purple);
    transition: 450ms;
}

.btn-primary:hover {
    background: var(--button-hover);
}

body.dark {
    --background-color: var(--background-color-dark);
    --text-color: #fff;
    --back-line-header: white;
    --links-color: white;
    --links-hover: #5BE9B9;
    --background-image-main: url("data:image/svg+xml;charset=UTF-8,%3c?xml version='1.0' encoding='UTF-8' standalone='no'?%3e%3csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'%3e%3cpath d='M46.838,9.452A28.276,28.276,0,0,0,39.639,5a28.89,28.89,0,0,1-2.267,33.862A28.125,28.125,0,0,1,3,46.169a28.491,28.491,0,0,0,47.167,4.3A29.314,29.314,0,0,0,46.838,9.452Z' style='fill:%23ffe66d'/%3e%3cpolygon points='6.5 3 7.582 5.191 10 5.543 8.25 7.249 8.663 9.657 6.5 8.52 4.337 9.657 4.75 7.249 3 5.543 5.418 5.191 6.5 3' style='fill:%23e6eef3'/%3e%3cpolygon points='23 9 24.545 12.292 28 12.82 25.5 15.382 26.09 19 23 17.292 19.91 19 20.5 15.382 18 12.82 21.455 12.292 23 9' style='fill:%23e6eef3'/%3e%3cpath d='M3.676,7.6l-.324,1.89A1,1,0,0,0,4.8,10.542L6.5,9.65l1.7.892A1,1,0,0,0,9.648,9.488L9.324,7.6,10.7,6.259a1,1,0,0,0-.554-1.706l-1.9-.276L7.4,2.557a1.041,1.041,0,0,0-1.792,0l-.85,1.72-1.9.276A1,1,0,0,0,2.3,6.259ZM5.562,6.181a1,1,0,0,0,.752-.547L6.5,5.259l.186.375a1,1,0,0,0,.752.547l.413.06-.3.291a1,1,0,0,0-.287.885l.07.412-.369-.194a1,1,0,0,0-.932,0l-.369.194.07-.412a1,1,0,0,0-.287-.885l-.3-.291Z'/%3e%3cpath d='M28.948,12.5a1,1,0,0,0-.8-.671l-2.927-.447L23.905,8.575a1,1,0,0,0-1.81,0l-1.319,2.809-2.927.447a1,1,0,0,0-.565,1.687l2.148,2.2-.509,3.12a1,1,0,0,0,1.471,1.036L23,18.435l2.606,1.44a1,1,0,0,0,1.471-1.036l-.509-3.12,2.148-2.2A1,1,0,0,0,28.948,12.5Zm-4.164,2.182a1,1,0,0,0-.271.859l.258,1.586-1.288-.712a1,1,0,0,0-.966,0l-1.288.712.258-1.586a1,1,0,0,0-.271-.859l-1.141-1.169,1.531-.234a1,1,0,0,0,.754-.564L23,11.354l.64,1.363a1,1,0,0,0,.754.564l1.531.234Z'/%3e%3crect x='58' y='41' width='4' height='2'/%3e%3cpath d='M15,34H29.467l-9.991,6.148A1,1,0,0,0,20,42h9V40H23.533l9.991-6.148A1,1,0,0,0,33,32H15Z'/%3e%3crect x='11' y='32' width='2' height='2'/%3e%3crect x='51.21' y='56' width='6.79' height='2'/%3e%3cpath d='M47.484,8.689A29.291,29.291,0,0,0,40.031,4.08,1,1,0,0,0,38.8,5.537,27.733,27.733,0,0,1,36.6,38.223,26.994,26.994,0,0,1,3.454,45.278a1,1,0,0,0-1.332,1.37,29.483,29.483,0,0,0,6.838,8.4A29.079,29.079,0,0,0,27.865,62q1.3,0,2.614-.115A29.817,29.817,0,0,0,50.937,51.112,30.351,30.351,0,0,0,47.484,8.689ZM49.4,49.834A27.825,27.825,0,0,1,30.305,59.9a27.12,27.12,0,0,1-20.052-6.374,27.444,27.444,0,0,1-4.7-5.136A29.027,29.027,0,0,0,38.142,39.5,29.759,29.759,0,0,0,42.1,7.338a27.441,27.441,0,0,1,4.1,2.876A28.345,28.345,0,0,1,49.4,49.834Z'/%3e%3c/svg%3e");
}

.food-main-topic {
    font-family: var(--font-famaly-forH2);
}

.shake {
    animation: shake 0.7s linear;
}

@keyframes shake {
    0% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(-2px);
    }
    50% {
        transform: translateY(0);
    }
    75% {
        transform: translateY(3px);
    }
    100% {
        transform: translateY(0);
    }
}