.mySkills-general-q {
    border: 1px solid black;
    max-width: 550px;
    height: 100%;
    border-radius: 25px;
    padding: 20px;
    color: white;
    background: #6E07F3;
}

.frontend-block {
    background: #6E07F3;
}

.backend-block {
    background: var(--background-purple);
}

.mySkills-main {
    padding: 100px 0;
}

.frontend-block__image {
    background-size: cover;
    background-position: top;
    color: white;
    height: 100px;
    width: 100px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3c?xml version='1.0' encoding='UTF-8' standalone='no'?%3e%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='48px' height='48px' viewBox='0 0 48 48'%3e%3cg %3e%3cpath fill='%23444444' d='M45,46H3c-1.105,0-2-0.895-2-2V8c0-1.105,0.895-2,2-2h42c1.105,0,2,0.895,2,2v36C47,45.105,46.105,46,45,46z&%2310;&%239;'/%3e%3crect x='3' y='13' fill='%23FFFFFF' width='42' height='31'/%3e%3ccircle fill='%23E86C60' cx='4.5' cy='9.5' r='1.5'/%3e%3ccircle fill='%23EFD358' cx='9.5' cy='9.5' r='1.5'/%3e%3ccircle fill='%2372C472' cx='14.5' cy='9.5' r='1.5'/%3e%3cpath fill='%23A67C52' d='M38.172,2.828c-1.105-1.105-2.895-1.105-4,0L21.536,15.464c0.988,0.181,1.899,0.65,2.625,1.376&%2310;&%239;c0.726,0.726,1.194,1.636,1.375,2.624L38.172,6.828C39.276,5.724,39.276,3.933,38.172,2.828z'/%3e%3cpath fill='%23E6E6E6' d='M21.536,15.464L16,21l4,4l5.536-5.536c-0.181-0.988-0.65-1.899-1.375-2.624&%2310;&%239;C23.435,16.115,22.524,15.646,21.536,15.464z'/%3e%3cpath fill='%23E86C60' d='M41,41H7c-0.552,0-1-0.448-1-1v-7c0-0.552,0.448-1,1-1h34c0.552,0,1,0.448,1,1v7C42,40.552,41.552,41,41,41z&%2310;&%239;'/%3e%3cpath fill='%23444444' d='M20.863,27.192c0.89-0.934,1.387-2.146,1.387-3.441c0-1.336-0.52-2.591-1.464-3.535s-2.2-1.465-3.536-1.465&%2310;&%239;c-1.336,0-2.591,0.521-3.536,1.465c-1.056,1.056-1.467,3.263-1.623,5.089c1.596,0.415,2.689,0.727,3.846,1.04&%2310;&%239;C17.368,26.73,18.844,27.132,20.863,27.192z'/%3e%3cpath fill='%23E86C60' d='M12.008,28.02l0.025,0.948l0.947,0.025C13.109,28.996,13.304,29,13.552,29c1.667,0,5.687-0.168,7.233-1.715&%2310;&%239;c0.029-0.029,0.049-0.064,0.077-0.094c-3.56-0.974-5.061-2.161-8.771-1.888C11.985,26.549,11.997,27.618,12.008,28.02z'/%3e%3c/g%3e%3c/svg%3e");
}

.frontend-block__topic {
    font-family: var(--font-famaly-forH2);
}

.backend-block__topic {
    font-family: var(--font-famaly-forH2);
}

.backend-block__image {
    background-size: cover;
    background-position: top;
    color: white;
    height: 100px;
    width: 100px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3c?xml version='1.0' encoding='UTF-8' standalone='no'?%3e%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='48px' height='48px' viewBox='0 0 48 48'%3e%3cg %3e%3cpath fill='%23444444' d='M47,11V6c0-1.105-0.895-2-2-2H3C1.895,4,1,4.895,1,6v5H47z'/%3e%3cpath fill='%23606060' d='M45,43H15V11h32v30C47,42.105,46.105,43,45,43z'/%3e%3ccircle fill='%23E86C60' cx='4.5' cy='7.5' r='1.5'/%3e%3ccircle fill='%23EFD358' cx='9.5' cy='7.5' r='1.5'/%3e%3ccircle fill='%2372C472' cx='14.5' cy='7.5' r='1.5'/%3e%3cpath fill='%234F4F4F' d='M16,43H3c-1.105,0-2-0.895-2-2V11h15V43z'/%3e%3crect x='5' y='14' fill='%23B3B3B3' width='7' height='2'/%3e%3crect x='5' y='20' fill='%23B3B3B3' width='5' height='2'/%3e%3crect x='5' y='26' fill='%23B3B3B3' width='7' height='2'/%3e%3crect x='5' y='32' fill='%23B3B3B3' width='5' height='2'/%3e%3crect x='5' y='38' fill='%23B3B3B3' width='7' height='2'/%3e%3crect x='20' y='14' fill='%23E86C60' width='5' height='2'/%3e%3crect x='24' y='20' fill='%23EFD358' width='7' height='2'/%3e%3crect x='27' y='26' fill='%23FFFFFF' width='10' height='2'/%3e%3crect x='24' y='32' fill='%23EFD358' width='7' height='2'/%3e%3crect x='20' y='38' fill='%23E86C60' width='5' height='2'/%3e%3c/g%3e%3c/svg%3e");
}

.backend-block__languages {
    font-family: var(--font-famaly-forH2);
    font-size: 1.2rem;
    color: #05232E;
    font-weight: 500;
}

.frontend__languages {
    font-family: var(--font-famaly-forH2);
    font-size: 1.2rem;
    color: #05232E;
    font-weight: 500;
}

.mySkills__topic {
    font-family: "Flicker", sans-serif;
    font-weight: 600;
    font-size: var(--large-font-size);
}

.list-unstyled li {
    font-size: 1.1rem;
}